#version=RHEL7

eula --agreed

# the Setup Agent is not started the first time the system boots
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# timezone
timezone --utc UTC
# text mode (no graphical mode)
text
# do not configure X
skipx
# non-interactive command line mode
cmdline
# install
install

################################################################################

# root password
rootpw --iscrypted $6$kwlYiwH6E7ns4Vre$qNbXf3oFF7YRhv9rLTSK81XHkzc2TmuVKZEZJ1s.UwXklNduDCTi9jUpdRp61ejwnxxn9GVMLcOVfhn6iKakT/
# System authorization information
auth --enableshadow --passalgo=sha512

user --groups=wheel --homedir=/home/devops --name=devops --password=$6$4vXFazWxYNlGkwXT$Ddbr5NO8SI0S9sO.SuBT6qzfNmAAauz1wgQFIIS4AQaYlrAOn.BQ.GKRWIGmbaG3ZlWZ2V0NYfL/4Z43aNf.w/ --iscrypted --gecos="devops"

################################################################################

selinux --disabled
firewall --disabled

network --bootproto=dhcp --device=enp0s20f0 --noipv6 --onboot=yes --mtu=9000 --activate
# network
#network --bootproto=static --device=enp0s20f1 --noipv6 --onboot=no
#network --bootproto=static --device=enp0s20f2 --noipv6 --onboot=no
#network --bootproto=static --device=enp0s20f3 --noipv6 --onboot=no

################################################################################

# installation path
url --url=http://10.0.0.6/repo/centos/7/os/x86_64

# repository
repo --name="CentOS Base" --baseurl=http://10.0.0.6/repo/centos/7/os/x86_64
repo --name="CentOS Update" --baseurl=http://10.0.0.6/repo/centos/7/updates/x86_64
repo --name="EPEL" --baseurl=http://10.0.0.6/repo/centos/7/epel/x86_64

################################################################################
# Partitioning
################################################################################

zerombr
clearpart --all --initlabel 
bootloader --location=mbr --boot-drive=sda

part /boot --fstype="xfs" --ondisk=sda --size=512 --fsoptions=rw,noatime
part swap   --asprimary --fstype="swap" --ondisk=sda --size=4096
part /      --fstype="xfs" --ondisk=sda --size=1 --grow --fsoptions=rw,noatime
part /data  --fstype="xfs" --ondisk=sdb --size=1 --grow --fsoptions=rw,noatime

################################################################################
# Preinstall 
################################################################################
#%pre
###/usr/sbin/parted -s /dev/sda mklabel gpt
#%end
################################################################################
# Packages
################################################################################
%packages --nobase --ignoremissing
@core
-aic94xx-firmware*
-alsa-*
-avahi
-ivtv*
-iwl*firmware
-ModemManager*
-NetworkManager*
-wpa_supplicant
curl
dstat
iperf3
lshw
lsof
net-snmp
net-snmp-utils
ntp
numactl
openssh-clients
parted
rsync
salt-minion
screen
sysstat
teamd
wget
%end
################################################################################
# Postinstall
################################################################################
%post

#IP=`ip a show enp0s20f0 | grep 'inet ' | awk '{print $2}' | cut -f1 -d '/'`
#echo ${IP} > /root/enp0s20f0.out
#ip a > /root/ip.out

curl http://10.0.0.6/hosts > /etc/hosts

mkdir -p /etc/salt
hostname -s > /etc/salt/minion_id
systemctl enable salt-minion.service

%end
################################################################################

# Reboot
reboot

